<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://highlighter.hangfire.io</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nuget.hangfire.io</MSDeployServiceURL>
    <DeployIisAppPath>highlighter.hangfire.io</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>odinserj</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HighlighterDb" Order="1" Enabled="True">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=Hangfire.Highlighter;User ID=Highlighter;Password=aP6ROR" Name="Server=.\sqlexpress;Database=Hangfire.Highlighter;User Id=Highlighter;Password=aP6ROR" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Hangfire.Highlighter.Models.HighlighterDbContext, Hangfire.Highlighter" MigrationConfiguration="Hangfire.Highlighter.Migrations.Configuration, Hangfire.Highlighter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HighlighterDb-Web.config Connection String">
      <ParameterValue>Server=.\sqlexpress;Database=Hangfire.Highlighter;User Id=Highlighter;Password=aP6ROR</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>